main {
    .background {
        position: absolute;
        top: 0;
        right: 0;
        width: 866px;
        height: 783px;
        background: url('/img/background.png');
        background-position: left -120px;
        background-repeat: no-repeat;
        opacity: .8;
    }

    section {
        position: relative;
        background-color: white;
        border-radius: 8px;
        padding: 40px 32px 240px 32px;
        box-shadow: 0 4px 8px rgba(0,0,0,.05);
        width: 940px;
        max-width: calc(100% - 80px);
        margin: auto;

        h1 {
            text-align: center;
            font-size: 2.25rem;
            margin-bottom: 2rem;

            span {
                padding-left: .25em;
                border-width: 3px;
                margin: 0 6px;
            }
        }

        p {
            line-height: 1.6em;
            color: #666666;
            text-align: center;
            max-width: 680px;
            margin: 0 auto 2em auto;
        }
    }
}
